---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { projects } from '../Data/projects';

const sorted = [...projects].sort((a, b) => b.updated.getTime() - a.updated.getTime());
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title="About - Alfie Ralls" description="About me" />
</head>
<body>
<Header />
<main>
    <h1>About me :)</h1>

    <div class="intro-box">
        <p>
            Thanks for checking out my website!
            I am a Computer Science student at
            <a href="https://www.lancaster.ac.uk" target="_blank" rel="noopener">Lancaster University</a>,
            with a strong interest in software engineering and computing. I am currently working in
            Python, Java, C and C++.
            Alongside my academic work, I am an active photographer, with a particular focus on UK railways,
            a subject that frequently appears in my work.
        </p>
    </div>

    <div class="intro-box">
        <p>
            I am passionate for free open source software and Linux! Both of which I actively use and experiment
            with on my own systems.
            I also contribute to Wikipedia, primarily writing and improving articles related to the British railway network.
        </p>
    </div>
    <h2>My most recent project:</h2>
    <div class="projects-grid">
        <article class="project-card">
            <div class="card-header">
                <span class="tag">{sorted[0].tag}</span>
                <span class={
                    sorted[0].status === 'active' ? 'active-status' :
                        sorted[0].status === 'planned' ? 'planned-status' :
                            'inactive-status'
                }>● {sorted[0].status}</span>
            </div>
            <h2>{sorted[0].title}</h2>
            <p>{sorted[0].summary}</p>
            <div class="card-footer">
                <span class="tech">{sorted[0].tech}</span>
                <span class="updated">Updated {sorted[0].updated.toLocaleDateString('en-GB', { month: 'short', year: 'numeric' })}</span>
            </div>
        </article>
    </div>
</main>

<Footer />
</body>
</html>